.PokemonListPage{
    width: 100%;
}

.PokemonListPage-LoaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 2rem;
}

.PokemonListPage-LoaderContainer div {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border: 3px solid white;
    border-top-color: #292C33;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}