* {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 10px;
}

body{
    background-color: #292C33;
}

.App-header {
    padding: 10px;
    top:0;
    left:0;
}

.App-body {
    display: flex;
}